/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.book_header {
    background: #c9af98;
    color: #3a4660;
    text-align: center;
    border-bottom: 5px solid #3a4660;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book_footer {
    background: #3a4660;
    color: white;
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    flex: 1;
    padding-top: 1em;
    padding-left: 1.3em;
    padding-bottom: 3em;
}
